{% extends "apps/nav_panel.html" %}
{% load app_buttons %}

{% block title %}
- {{ author_name }}
{% endblock %}

{% block main %}
<div class="col-md-12">
    <h2>Apps by: {{ author_name }}</h2>
</div>

<div class="col-lg-12">
    {% app_buttons apps releases %}
</div>
{% endblock %}


